.animation-vertical-loop {
  animation: animation-vertical-loop 1s infinite;
}

.image-responsive {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.vertical-align {
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes animation-vertical-loop {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(0);
  }
}
