.animation-vertical-loop {
  animation: animation-vertical-loop 1s infinite;
}

.image-responsive {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.vertical-align {
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%);
}

/**
 * Scrollbar
 */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  border-radius: 10px;
  box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0.3);
}

/**
 * Animations
 */

@keyframes animation-vertical-loop {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(0);
  }
}
